.login {
    width: 100vw;
    height: 100vh;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction:initial;
    justify-content: center;
  }

  .loginLeft1{
    flex: 1;
    display:inline-table;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
  .loginDesc1 {
    font-size: 24px;
    padding-top: 20px;
    width: 400px;
    flex-direction:initial;
    display: flex;
  }

  .loginDesc2 {
    font-size: 20px;
    padding-top: 20px;
    width: 400px;
    flex-direction:initial;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .loginBox{
      height: 300px;
      padding: 5px;
      background-color: #3b3b3b;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput{
      height: 50px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton1{
      height: 50px;
      border-radius: 5px;
      border: none;
      background-color: #3b3b3b;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      justify-content: center;
      margin: 0 auto;
      display: block;
      position: relative;
  }
  
  .loginButton:focus{
    outline: none;
  }
  
  .loginButton:disabled{
    cursor: not-allowed;
  }
  
  .loginForgot1{
      text-align: center;
      color: #3b3b3b;
  }
  
  .loginRegisterButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }