.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 10px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.searchBar1{
  margin-bottom: 20px;
  padding-top: 10px;
}
.sidebarLink{
  color: grey;
  margin-left: 0px;
}
.sidebarButton {
  
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.sidebarButtonFade {
  align-self: center;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgba(131, 117, 39, 0.486);
}

.sidebarHr {
  margin: 20px 0;
}

.searchResult {
  margin-top: 10px;
  padding-top: 10px;
  color: grey;
  text-decoration: none;
  margin-left: -10px;

}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarBottom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-self: flex-end;
}